// BEGIN-SNIPPET album-cover-styles
.AlbumCover {
  border-radius: 4px;
  $shadow-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px $shadow-color;
  display: inline-block;

  img {
    border-radius: 4px;
    display: block;
  }
}
// END-SNIPPET
