.x-Bar {
  background-color: #58504a;
  border-color: #89daff;
  border-style: solid;
  border-width: 4px;
  color: #dbb1bc;
  font-size: .9rem;
  max-width: 90%;
  padding: 20px;
  width: 20em;

  &--small {
    font-size: .6rem;
  }

  &--large {
    font-size: 1.4rem;
  }

  &-title {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
  }

  &-rank {
    margin-left: auto;
    color: #89daff;
  }

  &--hidden {
    display: none;
  }

  &--hide-border {
    border-width: 0;
  }

  &-description {
    border: solid 1px #89daff;
    font-size: .9em;
    padding: 10px;
  }

  &--tasteful {
    background-color: goldenrod;
    border-color: silver;
    color: brown;
  }
}
