.x-Foo {
  background-color: #58504a;
  border-color: #89daff;
  border-style: solid;
  border-width: 4px;
  color: #dbb1bc;
  font-size: 0.9rem;
  max-width: 90%;
  padding: 20px;
  width: 290px;

  &-title {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &-description {
    border: solid 1px #89daff;
    font-size: 0.8rem;
    padding: 10px;
  }

  &--special {
    background-color: white;
    border-color: goldenrod;
    color: #212121;
  }

  &--hyper {
    background-color: magenta;
    border-color: lime;
    color: cyan;
  }

  &--classic {
    background-color: black;
    border-color: darkgrey;
    color: silver;
  }

  &--elegant {
    background-color: silver;
    border-color: brown;
    color: gold;
  }

  &--tasteful {
    background-color: goldenrod;
    border-color: silver;
    color: brown;
  }
}
