<div class='FreestylePalette'>
  <div class='FreestylePalette-title'>{{this.title}}</div>
  <div class='FreestylePalette-description'>{{this.description}}</div>
  {{#each this.colors as |color|}}
    <FreestylePaletteItem @color={{color}} />
  {{/each}}
  {{yield}}
</div>
