# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/.all-contributorsrc
/.bowerrc
/.browserslistrc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.github/
/.gitignore
/.husky/
/.node-version
/.prettierignore
/.prettierrc.js
/.stylelintrc.js
/.template-lintrc.js
/.watchmanconfig
/bower.json
/Brewfile
/config/deploy.js
/config/ember-try.js
/CONTRIBUTING.md
/doc
/ember-cli-build.js
/FREESTYLE_USAGE_API.md
/jsconfig.json
/script
/testem.js
/tests/
/yarn-error.log
/yarn.lock
.gitkeep

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/npm-shrinkwrap.json.ember-try
/package.json.ember-try
/package-lock.json.ember-try
/yarn.lock.ember-try
