<div class="FreestyleGuide Route-search">
  <main class="FreestyleGuide-body">
    <article class="FreestyleGuide-content">
      {{yield}}
    </article>
    <nav class="FreestyleGuide-nav">
      {{freestyle-usage-controls}}
      {{freestyle-menu}}
    </nav>
  </main>
</div>
