// 1. Avoid the IE 10-11 `min-height` bug.
// 2. Set `flex-shrink` to `0` to prevent some browsers from
//    letting these items shrink to smaller than their content's default
//    minimum size. See http://bit.ly/1Mn35US for details.
// 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.

$FreestyleGuide-maxWidth: 1200px !default;

.FreestyleGuide {
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;

  &-header,
  &-footer {
    flex: none;
    display: flex;
  }

  &-header {
    border-bottom: solid 1px freestyle-color('secondary');
    padding: .5rem 1rem;
    align-items: top;
  }

  &-cta {
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    flex-basis: 20px;
    text-align: center;
    align-self: center;
  }

  &-ctaIcon {
    &:hover {
      fill: freestyle-color('primary');
    }
  }

  &-titleContainer {
    flex-grow: 1;
    padding: 0 1rem;
    text-align: center;
  }

  &-title {
    font-size: 1.4rem;
    font-weight: bold;

    @include mappy-bp(large) {
      font-size: 1.9rem;
    }
  }

  &-subtitle {
    margin: 0 auto;
  }

  &-body {
    background-color: freestyle-color('background');
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    @include mappy-bp(large) {
      flex-direction: row;
    }
  }

  &-content {
    margin-top: 1.5rem;

    @include mappy-bp(large) {
      flex: 1;
      margin: 0;
    }
  }

  &-nav {
    background-color: freestyle-color('background');
    order: -1;
    padding: 1rem;

    @include mappy-bp(large) {
      border-right: solid 1px freestyle-color('secondary');
      flex: 0 0 18rem;
    }
  }

  &-aside {
    order: -2;
    position: fixed;
    right: .5rem;
    background: #fff;
    margin-right: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    @include mappy-bp(large) {
      border-left: solid 1px freestyle-color('secondary');
      order: 1;
    }
  }
}
