.FreestyleUsageControls {
  font-size: .9rem;
  padding: 1rem;
  text-align: left;
  width: 200px;

  &-header {
    font-weight: bold;
    margin-bottom: .3rem;
    text-transform: uppercase;
    color: freestyle-color('primary');
  }
  &-item {
    display: flex;
    align-items: baseline;
  }
  &-itemControl {
    padding-right: .1rem;
    cursor: pointer;
  }
  &-itemLabel {
    font-size: .7rem;
  }
}
