.FreestyleMenu {
  list-style: none;
  padding-left: 1rem;
  font-size: 14px;

  &-item {
    text-transform: uppercase;
    padding-top: .6rem;
  }

  &-itemLink {
    text-decoration: none;
    color: $FreestyleGuide-color--foreground;

    &.active {
      color: $FreestyleGuide-color--primary;
    }

    &:hover {
      color: $FreestyleGuide-color--accent;
    }
  }

  &-submenu {
    list-style: none;
    padding-left: 1rem;
  }
}
