.FreestylePalette {
  &-title {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 10px;
  }

  &-description {
    font-size: 0.8rem;
    padding-bottom: 5px;
  }
}
