$FreestyleUsage-borderColor: #cecece;
$FreestyleUsage-maxWidth: $FreestyleGuide-maxWidth !default;

.FreestyleUsage {
  max-width: $FreestyleUsage-maxWidth;

  &-title {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 1rem 0;
  }

  &-notes {
    font-size: .9rem;
  }

  &-rendered {
    padding: 1rem;
  }

  &-usage {
    padding-bottom: 10px;
  }

  &-snippet {
    pre {
      margin-top: 0;
      font-size: .8rem;

      &.hljs {
        padding: .5rem 1rem;
      }
    }

    &--tomorrow-night {
      @import '../ember-freestyle/highlight.js/tomorrow-night';
    }

    &--zenburn {
      @import '../ember-freestyle/highlight.js/zenburn';
    }

    &--hybrid {
      @import '../ember-freestyle/highlight.js/hybrid';
    }

    &--atelier-cave-dark {
      @import '../ember-freestyle/highlight.js/atelier-cave-dark';
    }

    &--solarized-light {
      @import '../ember-freestyle/highlight.js/solarized-light';
    }

    &--docco {
      @import '../ember-freestyle/highlight.js/docco';
    }

    &--monokai-sublime {
      @import '../ember-freestyle/highlight.js/monokai-sublime';
    }
  }

  &--inline {
    border-bottom: none;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;

    @include freestyle-breakpoint(large) {
      max-width: inherit;
      width: auto;
    }
  }

  &-focusCta {
    cursor: pointer;
    position: relative;
    top: 1px;
    fill: $FreestyleGuide-color--secondary;

    &:hover {
      fill: $FreestyleGuide-color--primary;
    }
  }
}
