{{!-- template-lint-disable no-inline-styles --}}
<nav class="flex justify-between py-3 px-1 text-lg">
  <span>
    <h1>
      <a class="no-underline text-black hover:underline hover:text-teal-500" href="https://chrislopresto.github.io/ember-freestyle/">
        Ember Freestyle
      </a>
    </h1>
  </span>

  <span>
    <a class="no-underline" href="https://github.com/chrislopresto/ember-freestyle" target="_blank" rel="noopener noreferrer">
      <span class="text-black hover:no-underline">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="no-underline" href="https://twitter.com/chrislopresto" target="_blank" rel="noopener noreferrer">
      <span class="hover:no-underline" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </span>
</nav>
