<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="//ember-freestyle.com">
      <strong>Ember Freestyle</strong>
    </a>
  </div>

  <div class="navbar-end">
    <a class="navbar-item" href="https://github.com/chrislopresto/ember-freestyle" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item" href="https://twitter.com/chrislopresto" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>
</nav>
