{{!-- BEGIN-SNIPPET markdown-example --}}
<div class="MarkdownContent" {{did-insert this.extractMarkdown}}>
  <div class="MarkdownContent-raw">{{yield}}</div>
  <div class="MarkdownContent-rendered">{{{this.renderedMarkdown}}}</div>
</div>
{{!-- END-SNIPPET --}}
