<div
  class="FreestyleSection {{if this.show 'FreestyleSection--showing' 'FreestyleSection--hidden'}}"
  {{did-insert (fn this.emberFreestyle.registerSection @name null)}}
  ...attributes
>
  {{#if this.show}}
    {{#if @name}}
      <h2 class="FreestyleSection-name">
        {{@name}}
      </h2>
    {{/if}}
  {{/if}}
  {{yield
    (hash
      subsection=(component "freestyle-subsection" section=@name)
    )
  }}
</div>
