html,
body {
  font-family: sans-serif;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: .5rem;
}

h1,
h2,
h3 {
  margin-top: 1em;
}

$link-color: #00bcd4;

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  pre {
    padding: 0;
  }

  code {
    padding: 0 .5em;
  }
}

.u-outdent {
  margin: 0 -1rem;
  padding: .5rem 1rem !important; // sass-lint:disable-line no-important
}

.readable-width {
  margin: 0 auto;
  max-width: 60em;
  width: 100%;
}

@import 'components/x-foo';
@import 'components/x-bar';
@import 'components/album-cover';
@import 'components/progress-icon';
@import 'components/markdown-content';
