html,
body {
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

@import 'components/x-foo';
