@import 'palette.json';

$FreestylePalette-baseKey: 'base' !default;
$FreestylePalette-opacities: (
  'light': 0.8,
  'dark': 0.4,
  'darker': 0.3
);

@function freestyle-color(
  $name: 'primary',
  $variant: $FreestylePalette-baseKey,
  $opacity: 1
) {
  $color: null;

  $colorVariants: map-get($FreestylePalette, $name);

  @if $colorVariants {
    $color: map-get($colorVariants, $variant);
  }

  $alpha: if(type-of($opacity) == 'number', $opacity, map-get($FreestylePalette-opacities, $opacity));

  @if $alpha {
    $color: rgba($color, $alpha);
  }

  @return $color;
}

// Wire up variables to provide a mechanism for consuming apps to override
// without using freestyle.json files or hash maps
$FreestyleGuide-color--primary: freestyle-color('primary') !default;
$FreestyleGuide-color--accent: freestyle-color('accent') !default;
$FreestyleGuide-color--secondary: freestyle-color('secondary') !default;
$FreestyleGuide-color--foreground: freestyle-color('foreground') !default;
$FreestyleGuide-color--background: freestyle-color('background') !default;
