$FreestyleGuide-color--primary: #00bcd4;
$FreestyleGuide-color--accent: #ffc107;
$FreestyleGuide-color--secondary: #b6b6b6;
$FreestyleGuide-color--foreground: #212121;
$FreestyleGuide-color--background: #ffffff;

@import 'ember-freestyle';
