// Default Ember Freestyle palette.
$FreestyleGuide-color--primary: #00bcd4 !default;
$FreestyleGuide-color--accent: #ffc107 !default;
$FreestyleGuide-color--secondary: #b6b6b6 !default;
$FreestyleGuide-color--foreground: #212121 !default;
$FreestyleGuide-color--background: #fff !default;
