<div class="FreestyleSubsection {{if this.show 'is-showing' 'is-hidden'}}"
  {{did-insert (fn this.emberFreestyle.registerSection @section @name)}}
  ...attributes
>
  {{#if this.show}}
    {{#if @name}}
      <h3 class="FreestyleSubsection-name">
        {{@name}}
      </h3>
    {{/if}}
    {{yield}}
  {{/if}}
</div>
