{{#if show}}
  {{freestyle-filterable-title title=title setFocus=(action 'setFocus')}}
  {{#freestyle-annotation}}
    <form class="FreestyleDynamic-form">
      <fieldset>
        <legend>{{headerTitle}}</legend>
        {{#each-in dynamicProperties as |propertyName propertyHash|}}
          {{freestyle-dynamic-input
            propertyName=propertyName
            value=propertyHash.value
            options=propertyHash.options
            inputType=propertyHash.inputType
            description=propertyHash.description
            min=propertyHash.min
            max=propertyHash.max
            changeValueTo=(action 'changeValueTo' propertyName)
          }}
        {{/each-in}}
      </fieldset>
    </form>
  {{/freestyle-annotation}}

  {{#freestyle-usage slug
    isDynamic=true
    componentName=componentName
    source=source
    dynamicProperties=dynamicProperties
  }}
    {{yield dynamicPropertyValues}}
  {{/freestyle-usage}}
{{/if}}
