{{#if show}}
  {{#if hasLabels}}
    {{freestyle-filterable-title title=title setFocus=(action 'setFocus')}}
  {{/if}}
  <div class="FreestyleUsage-rendered">
    {{yield}}
  </div>

  {{#if hasCode}}
    <div class="FreestyleUsage-usage">
      {{#if source}}
        <div class="FreestyleUsage-sourceContainer">
          {{freestyle-source source=source isDynamic=isDynamic dynamicProperties=dynamicProperties title="Source"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/if}}
