{{#freestyle-annotation}}
  <h3 class="FreestyleDynamic-header">Dynamic Properties:</h3>
  <form class="FreestyleDynamic-form">
    {{#each-in dynamicProperties as |propertyName propertyHash|}}
      {{freestyle-dynamic-input
        propertyName=propertyName
        value=propertyHash.value
        options=propertyHash.options
        inputType=propertyHash.inputType
        description=propertyHash.description
      }}
    {{/each-in}}
  </form>
{{/freestyle-annotation}}

{{#freestyle-usage slug
  title=title
  isDynamic=true
  componentName=componentName
  dynamicProperties=dynamicProperties
}}
  {{component componentName
    isCalledByEmberFreestyleDynamic=true
    getAttrsFromEmberFreestyleDynamic=getAttrsFromEmberFreestyleDynamic
  }}
{{/freestyle-usage}}
