<div class='FreestylePaletteItem'>
  <div class='FreestylePaletteItem-color' style={{paletteStyle}}></div>
  <div class='FreestylePaletteItem-info'>
    <p class='FreestylePaletteItem-hex'>{{color.base}}</p>
    <p class='FreestylePaletteItem-name'>{{color.name}}</p>
  </div>
</div>