{{#if (and title showLabels)}}
  <div class="FreestyleCollection-title">
    {{title}}
  </div>
{{/if}}
{{#if showVariantList}}
  {{freestyle-variant-list
    variants=variants
    activeKey=activeKey
    onClickVariant=(action 'setKey')
  }}
{{/if}}
{{yield this}}
