<div class="FreestyleUsageControls">
  <div class="FreestyleUsageControls-header">
    Settings
  </div>
  <div class="FreestyleUsageControls-item">
    <div class="FreestyleUsageControls-itemControl">
      {{input type="checkbox" checked=showLabels}}
    </div>
    <div class="FreestyleUsageControls-itemLabel">Show Labels</div>
  </div>
  <div class="FreestyleUsageControls-item">
    <div class="FreestyleUsageControls-itemControl">
      {{input type="checkbox" checked=showNotes}}
    </div>
    <div class="FreestyleUsageControls-itemLabel">Show Notes</div>
  </div>
  <div class="FreestyleUsageControls-item">
    <div class="FreestyleUsageControls-itemControl">
      {{input type="checkbox" checked=showCode}}
    </div>
    <div class="FreestyleUsageControls-itemLabel">Show Code</div>
  </div>
</div>
