<ul class='FreestyleCollection-variantList' ...attributes>
  {{#each @variants as |variantKey|}}
    <li
      class='FreestyleCollection-variantListItem {{if (eq @activeKey variantKey) 'FreestyleCollection-variantListItem--active'}}'
      role="button"
      {{on 'click' (fn @onClickVariant variantKey)}}
    >
      {{variantKey}}
    </li>
  {{/each}}
</ul>
