{{!-- BEGIN-FREESTYLE-USAGE foo-normal --}}
<div class="x-Foo x-Foo--{{@status}}">
  <div class="x-Foo-title">Foo</div>
  <p>This is a component in the dummy app</p>
  <div class="x-Foo-description x-Foo-description--special">
    Status: {{@status}}
  </div>
</div>
{{!-- END-FREESTYLE-USAGE --}}
